<div class = "container">
  <div class = "form-sections">
    <h1 class = "title">
      Welcome to Charitable Auctions
    </h1>
    <form [formGroup] = "loginForm" class = "form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type = "password" formControlName="password"/>
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button (click)="login()">
        Login
      </button>
      <button mat-raised-button (click)="openUser()">
        Autentificare
      </button>
      </div>
  </div>
</div>
